.footer {
  margin-top: auto;
  width: 100%;
  position: relative;
  background: black;
  min-height: 200px;
  padding: 40px 0;
  color: $dim;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > :not(:last-child) {
    margin-bottom: 10px;
    width: fit-content;
  }
  @media screen and (min-width: $tablet) {
    min-height: 140px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    & > :not(:last-child) {
      margin-right: 10px;
    }
  }
}
.copyright {
  @extend %flex-container;
  flex-direction: column;
  order: 1;
  @media screen and (min-width: $phone) {
    order: 0;
  }
}
.social {
  @extend %flex-container;
  padding-bottom: 10px;
  &__item {
    width: 44px;
    height: 44px;
    border-radius: 40%;
    padding: 7px;
    transition: transform $transition;
    border-radius: 50%;
    &:hover,
    &:focus-within {
      transform: scale(1.2);
    }
    &:nth-child(1) a {
      background-image: url('../img/vk.svg');
      background-size: cover;
    }
    &:nth-child(2) a {
      background-image: url('../img/inst.svg');
      background-size: cover;
    }
    &:nth-child(3) a {
      background-image: url('../img/tw.svg');
      background-size: cover;
    }
    &:nth-child(4) a {
      background-image: url('../img/ok.svg');
      background-size: cover;
    }
    &:nth-child(5) a {
      background-image: url('../img/fb.svg');
      background-size: cover;
    }
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
  &__link {
    display: inline-block;
    line-height: 100%;
    height: 100%;
    width: 100%;
  }
}
.nav-contacts {
  background: $overlay-light;
  border-radius: 10px;
  height: 30px;
  @media screen and (min-width: $tablet) {
    height: 50px;
  }
  &__wrapper {
    padding: 5px 20px 10px;
    @media screen and (min-width: $tablet) {
      padding-top: 15px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    text-align: left;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    @extend %anchor;
    line-height: 1.4em;
    font-style: normal;
    font-size: 12px;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
    .material-icons {
      margin-right: 10px;
      font-size: inherit;
      color: inherit;
    }
  }
}
