#statistics {
  background: $overlay;
  padding: 100px 0;
}
.statistics {
  @extend %flex-container;
  flex-direction: column;
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    & > :first-child {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $tablet) {
      max-width: 840px;
      padding: 0 25px;
      & > :first-child {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width: $desktop) {
      max-width: 1100px;
    }
    @extend %flex-container;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }
  &__list {
    padding: 20px;
    padding-right: 40px;
    border-radius: 16px;
    margin-right: 40px;
  }
  &__listitem {
    height: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(20px);
    opacity: 0.6;
    transition: transform 100ms ease-out, opacity 100ms ease-out;
    font-size: 10px;
    @media screen and (min-width: $phone) {
      font-size: 12px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }
    &:nth-child(2) {
      transition-delay: 100ms, 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms, 200ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms, 300ms;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__value {
    display: inline-block;
    @extend %button;
    transition: border-color 100ms ease-out;
    margin-right: 10px;
    width: 70px;
    &:nth-child(2) {
      transition-delay: 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms;
    }
  }
  &__name {
    @extend %anchor;
    transition: font-weight 100ms ease-out, text-shadow 100ms ease-out;
    &:nth-child(2) {
      transition-delay: 100ms, 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms, 100ms;
    }
    &:nth-child(4) {
      transition-delay: 300ms, 300ms;
    }
    &:hover {
      font-weight: $normal;
    }
  }
  &__circle {
    background-image: url('../img/speed2.svg');
    background-size: cover;
    padding: 50px;
  }
}

#statistics:hover {
  cursor: url('../img/rocket.png') 4 2, auto;
  .statistics__listitem {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    &:nth-child(2) {
      transition-delay: 0.5s, 0.5s;
    }
    &:nth-child(3) {
      transition-delay: 1s, 1s;
    }
    &:nth-child(4) {
      transition-delay: 1.5s, 1.5s;
    }
    transform: translateX(0);
    opacity: 1;
    .statistics__value {
      border-color: $accent;
      transition: border-color 0.5s ease-out;
      &:nth-child(2) {
        transition-delay: 0.5s;
      }
      &:nth-child(3) {
        transition-delay: 1s;
      }
      &:nth-child(4) {
        transition-delay: 1.5s;
      }
    }
    .statistics__name {
      transition: font-weight 0.5s ease-out, text-shadow 0.5s ease-out;
      font-weight: $bold;
      text-shadow: 0 0 14px rgba(255, 255, 255, 0.8);
      &:nth-child(2) {
        transition-delay: 0.5s, 0.5s;
      }
      &:nth-child(3) {
        transition-delay: 1s, 1s;
      }
      &:nth-child(4) {
        transition-delay: 1.5s, 1.5s;
      }
    }
  }
}
