<div class="container-fluid">
  <!-- CONTENT-PART -->
  <div class="cloud">
    <div class="container-fluid">
      <div class="page-title">
        <h1>МТС Cloud</h1>
      </div>
      <div class="cloud__add">
        МТС Cloud — это современный сервис аренды вычислительных мощностей и
        систем хранения данных для создания собственной виртуальной
        инфраструктуры.
      </div>
      <p>
        МТС Сloud — это надежный партнер для вашего бизнеса. Как
        телеком-оператор, компания МТС может организовывать каналы мобильной и
        фиксированной связи под каждого клиента индивидуально с учетом
        требований, предъявляемых к скорости и надежности передачи данных, а
        также заключать сквозной SLA, гарантирующий параметры доступности не
        только облачной инфраструктуры, но и каналов связи.
      </p>
      <div class="cloud-benefits">
        <div class="cloud-benefits__item">
          <h2>Команда</h2>
          <p>
            Наша проектная команда состоит из опытных специалистов, успешно
            реализовавших сложные инфраструктурные решения для ведущих компаний
            в сфере торговли, логистики, банкинга, сервисных услуг,
            производства. Мы готовы делиться своей экспертизой, поэтому
            оказываем консультационную поддержку, а также помогаем с аудитом
            ИТ-инфраструктуры заказчика и миграцией в облако.
          </p>
          <p>
            Наши специалисты технической поддержки круглосуточно решают
            возникающие у клиентов вопросы.
          </p>
        </div>
        <div class="cloud-benefits__item">
          <h2>Инфрастуктура</h2>
          <p>
            Облако МТС Cloud создано с использованием трех платформ
            виртуализации на базе собственного оборудования Cisco и Huawei,
            размещенного в надежном ЦОДе класса Tier3.
          </p>
          <p>
            Три платформы виртуализации – Huawei, Red Hat, VMware – позволяют
            каждому клиенту получить решение, наиболее соответствующее заданным
            требованиям к инфраструктуре.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cloud-bottomg">
    <div class="container-fluid">
      <div class="cloud__list">
        <div class="cloud__item">
          <div class="cloud__img">
            <img src="/img/content/cloud1.png" alt="" />
          </div>
          <div class="cloud__title">VMware</div>
          <ul class="dots">
            <li>встроенное шифрование виртуальных машин</li>
            <li>
              широкий инструментарий по конвертации физических хостов в
              виртуальные
            </li>
            <li>
              управление серверами, сетью и СХД из одной policy-based платформы
            </li>
            <li>
              возможность online миграции виртуальных машин между дата-центрами
              и облачными провайдерами
            </li>
            <li>широкая поддержка оборудования от разных вендоров</li>
          </ul>
        </div>
        <div class="cloud__item">
          <div class="cloud__img">
            <img src="/img/content/cloud2.png" alt="" />
          </div>
          <div class="cloud__title">Huawei</div>
          <ul class="dots">
            <li>
              web-портал с доступом в виртуальный дата-центр (vDC) для гибкого
              управления ресурс-пулами виртуальных машин
            </li>
            <li>встроенный eBackup сервис</li>
            <li>
              гибкое управление как виртуальными сервисами, так и физическими
              (BareMetal) серверами
            </li>
            <li>
              развитый функционал сетевой виртуализации (ELB, VFW, SG, VPC, VPN)
            </li>
            <li>
              автоматическое масштабирование при высокой нагрузке на сервисы
              (Auto Scaling) при достижении описанных заранее метрик
            </li>
            <li>гетерогенная виртуализация: VRM, SDN control, KVM, Vmware</li>
          </ul>
        </div>
        <div class="cloud__item">
          <div class="cloud__img">
            <img src="/img/content/cloud3.png" alt="" />
          </div>
          <div class="cloud__title">Red Hat</div>
          <ul class="dots">
            <li>
              возможность управления из одного web-интерфейса виртуальными
              машинами KVM, VMware ESXi, MS HYPER-V (при условии имеющейся
              конвергентной инфраструктуры)
            </li>
            <li>быстрое получение новых «фич» от open-source сообщества</li>
            <li>автоматизированный апгрейд</li>
            <li>
              предсказуемо взаимодействует с программно-конфигурируемыми
              платформами
            </li>
            <li>широкая поддержка оборудования от разных вендоров</li>
          </ul>
        </div>
      </div>
      <div class="cloud-question">
        <div class="cloud-question__item">
          <div class="cloud-question__top">
            Как подключить или протестировать услуги МТС Cloud?
          </div>
          <div class="cloud-question__answer">
            Для получения доступа к услугам МТС Cloud
            <a
              href="#popup-form"
              data-popap-init="ticket"
              class="js-popup-inline"
              >оставьте заявку</a
            >.
          </div>
        </div>
        <div class="cloud-question__item">
          <div class="cloud-question__top">Сколько стоят услуги МТС Cloud?</div>
          <div class="cloud-question__answer">
            Рассчитать стоимость услуг можно при помощи
            <a href="/calculator/">online-калькулятора</a> либо связавшись с
            нами через
            <a
              href="#popup-form"
              data-popap-init="consultation"
              class="js-popup-inline"
              >форму обратной связи</a
            >.
          </div>
        </div>
      </div>
      <br />
      <a
        href="/files/terms-clouds.pdf"
        download="/files/terms-clouds.pdf"
        class="conditional black-link"
      >
        Порядок предоставления услуг по тарифному плану «МТС Cloud»
        <span>334.2 КБ</span>
      </a>
      <br /><a
        href="/files/terms-veeam.pdf"
        download="/files/terms-veeam.pdf"
        class="conditional black-link"
      >
        Порядок предоставления услуг Veeam <span>319.7 КБ</span>
      </a>
      <br /><a
        href="/files/terms-SPLA.pdf"
        download="/files/terms-SPLA.pdf"
        class="conditional black-link"
      >
        Порядок предоставления услуг Microsoft SPLA <span>529.0 КБ</span>
      </a>
    </div>
  </div>

  <!--end CONTENT-PART -->
</div>
