<div class="partners">
  <div class="page-title">
    <h1>Партнерам</h1>
  </div>
  <div class="partners__img">
    <img src="/img/content/partners.png" alt="" />
  </div>
  <div class="partners__info">
    <p>Мы уверены в том, что можем развиваться вместе!</p>
    <p>
      Если у вас есть идеи, чем мы можем быть друг другу полезны, делитесь ими с
      нами через форму обратной связи или в письме на
      <a href="#">cloud-sales@mts.by</a>.
    </p>
    <p>С удовольствием обсудим возможности сотрудничества.</p>
    <br />
    <a
      href="#popup-form"
      data-popap-init="cooperation"
      class="btn js-popup-inline"
      >Написать</a
    >
  </div>
</div>
