<div
  class="slick-track"
  style="opacity: 1; width: 4446px; transform: translate3d(-1976px, 0px, 0px)"
>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    aria-describedby="slick-slide-control73"
    data-slick-index="-2"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service5.png" alt="" />
    </div>
    <div class="item__txt">Дополнительные услуги связи</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    data-slick-index="-1"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service6.png" alt="" />
    </div>
    <div class="item__txt">Лицензионная программа Microsoft</div>
  </div>
  <div
    class="item slick-slide"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    id="slick-slide90"
    aria-describedby="slick-slide-control90"
    data-slick-index="0"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service1.png" alt="" />
    </div>
    <div class="item__txt">Виртуальная инфраструктура Huawei</div>
  </div>
  <div
    class="item slick-slide"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    id="slick-slide91"
    data-slick-index="1"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service2.png" alt="" />
    </div>
    <div class="item__txt">Виртуальная инфраструктура VMware</div>
  </div>
  <div
    class="item slick-slide"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    id="slick-slide92"
    aria-describedby="slick-slide-control91"
    data-slick-index="2"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service3.png" alt="" />
    </div>
    <div class="item__txt">Виртуальная инфраструктура RedHat</div>
  </div>
  <div
    class="item slick-slide"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    id="slick-slide93"
    data-slick-index="3"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service7.png" alt="" />
    </div>
    <div class="item__txt">Аварийное восстановление в облаке</div>
  </div>
  <div
    class="item slick-slide"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    id="slick-slide94"
    aria-describedby="slick-slide-control92"
    data-slick-index="4"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service4.png" alt="" />
    </div>
    <div class="item__txt">Backup как сервис</div>
  </div>
  <div
    class="item slick-slide"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    id="slick-slide95"
    data-slick-index="5"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service8.png" alt="" />
    </div>
    <div class="item__txt">Резервное копирование Veeam Cloud Connect</div>
  </div>
  <div
    class="item slick-slide slick-current slick-active"
    style="width: 247px"
    tabindex="0"
    role="tabpanel"
    id="slick-slide96"
    aria-describedby="slick-slide-control93"
    data-slick-index="6"
    aria-hidden="false"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service5.png" alt="" />
    </div>
    <div class="item__txt">Дополнительные услуги связи</div>
  </div>
  <div
    class="item slick-slide slick-active"
    style="width: 247px"
    tabindex="0"
    role="tabpanel"
    id="slick-slide97"
    data-slick-index="7"
    aria-hidden="false"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service6.png" alt="" />
    </div>
    <div class="item__txt">Лицензионная программа Microsoft</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    aria-describedby="slick-slide-control70"
    data-slick-index="8"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service1.png" alt="" />
    </div>
    <div class="item__txt">Виртуальная инфраструктура Huawei</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    data-slick-index="9"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service2.png" alt="" />
    </div>
    <div class="item__txt">Виртуальная инфраструктура VMware</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    aria-describedby="slick-slide-control71"
    data-slick-index="10"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service3.png" alt="" />
    </div>
    <div class="item__txt">Виртуальная инфраструктура RedHat</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    data-slick-index="11"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service7.png" alt="" />
    </div>
    <div class="item__txt">Аварийное восстановление в облаке</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    aria-describedby="slick-slide-control72"
    data-slick-index="12"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service4.png" alt="" />
    </div>
    <div class="item__txt">Backup как сервис</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    data-slick-index="13"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service8.png" alt="" />
    </div>
    <div class="item__txt">Резервное копирование Veeam Cloud Connect</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    aria-describedby="slick-slide-control73"
    data-slick-index="14"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service5.png" alt="" />
    </div>
    <div class="item__txt">Дополнительные услуги связи</div>
  </div>
  <div
    class="item slick-slide slick-cloned"
    style="width: 247px"
    tabindex="-1"
    role="tabpanel"
    data-slick-index="15"
    aria-hidden="true"
  >
    <div class="item__icon item__icon--filter">
      <img src="/img/content/service6.png" alt="" />
    </div>
    <div class="item__txt">Лицензионная программа Microsoft</div>
  </div>
</div>
