{{> ./card}}
<section class="container">
    <h1 class="visually-hidden" id="hero-header">Why Us</h1>
    <div class="hero-slider" role="slider" aria-labelledby="hero-header" id="slider">
        <div class="hero-slider__content">
            <div class="hero-slider__slide active">
                <article class="hero-slider__article one">
                    <h2 class="hero-slider__header" role="header">Почему облако МТС?</h2>
                    <div class="hero-slider__article-container">
                        <h3 class="hero-slider__section-header" role="header">С MTC Cloud Вы сможете:</h3>
                        <ul class="hero-slider__section-list">
                            <li class="hero-slider__section-listitem">снизить затраты на ИТ-инфраструктуру до 60%</li>
                            <li class="hero-slider__section-listitem">платить только за то, чем пользуетесь, по модели
                                pay-as-you-go</li>
                            <li class="hero-slider__section-listitem">больше не беспокоиться об уязвимостях ваших
                                серверов</li>
                            <li class="hero-slider__section-listitem">получить комплексное решение: IaaS и каналы связи
                            </li>
                            <li class="hero-slider__section-listitem">бесплатно протестировать возможности МТС Cloud
                            </li>
                        </ul>
                        {{> ./order-button}}
                    </div>
                </article>
            </div>
            <div class="hero-slider__slide">
                <article class="hero-slider__article two">
                    <h2 class="hero-slider__header" role="header">Почему облако МТС?</h2>
                    <div class="hero-slider__article-container">
                        <h3 class="hero-slider__section-header" role="header">С MTC Cloud Вы сможете:</h3>
                        <ul class="hero-slider__section-list">
                            <li class="hero-slider__section-listitem">снизить затраты на ИТ-инфраструктуру до 60%</li>
                            <li class="hero-slider__section-listitem">платить только за то, чем пользуетесь, по модели
                                pay-as-you-go</li>
                            <li class="hero-slider__section-listitem">больше не беспокоиться об уязвимостях ваших
                                серверов</li>
                            <li class="hero-slider__section-listitem">получить комплексное решение: IaaS и каналы связи
                            </li>
                            <li class="hero-slider__section-listitem">бесплатно протестировать возможности МТС Cloud
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="hero-slider__slide">
                <article class="hero-slider__article three">
                    <h2 class="hero-slider__header" role="header">Почему облако МТС?</h2>
                    <div class="hero-slider__article-container">
                        <h3 class="hero-slider__section-header" role="header">С MTC Cloud Вы сможете:</h3>
                        <ul class="hero-slider__section-list">
                            <li class="hero-slider__section-listitem"></li>
                            <li class="hero-slider__section-listitem"></li>
                            <li class="hero-slider__section-listitem"></li>
                            <li class="hero-slider__section-listitem"></li>
                            <li class="hero-slider__section-listitem"></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="hero-slider__controls controls" aria-controls="slider">
            <a class="hero-slider__controls-button" data-slide id="slider_left" role="button" aria-pressed="false">
                <i class="icon material-icons">chevron_left</i>
            </a>
            <a class="hero-slider__controls-button" data-slide id="slider_right" role="button" aria-pressed="false">
                <i class="icon material-icons">chevron_right</i>
            </a>
        </div>
    </div>
</section>