<div class="hero-slider__order-container">
    <h3 class="hero-slider__section-header order" role="header">Оставьте заявку на бесплатный тестовый период!<a
            class="hero-slider__order-btn" href="" data-modal="0">Получить консультацию</a></h3>

</div>