<section class="container" id="advantages">
    <h2 class="main-header" id="advantages-header">Преимущества МТС Cloud</h2>
    <div class="cardset" id="advantages-slider">
        <ul class="cardset__list" id="advantages-slide">
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit1.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Гарантированный уровень доступности 99,9%</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit2.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Подбор индивидуальных решений</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit3.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Три платформы виртуализации Huawei, VMware, RedHat</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit4.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Возможность оплаты по факту потребления</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit5.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Размещение ресурсов в ЦОДе класса Tier3</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit6.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Организация каналов связи</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit7.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Комплексное решение: VPN, SIP, Fttx</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv"><img src="../img/benefit8.svg" alt="benefits"
                    class="cardset__image">
                <h3 class="cardset__header">Круглосуточная техподдержка</h3>
            </li>
        </ul>
    </div>
</section>