<section class="container" id="services">
    <h2 class="main-header" id="advantages-header">Услуги МТС Cloud</h2>
    <div class="cardset" id="services-slider">
        <ul class="cardset__list" id="services-slide">
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Виртуальная инфраструктура Huawei</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Виртуальная инфраструктура VMware</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Виртуальная инфраструктура RedHat</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Аварийное восстановление в облаке</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Backup как сервис</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Резервное копирование Veeam Cloud Connect</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Дополнительные услуги связи</h3>
            </li>
            <li class="cardset__list-item" data-adv="adv">
                <picture class="cardset__image"><img src="../img/benefit1.svg" alt="services" class="cardset__pic">
                </picture>
                <h3 class="cardset__header">Лицензионная программа Microsoft</h3>
            </li>
        </ul>
    </div>
</section>